# Data & Models
cifar_images.zip
outputs/
temp_*
*.pt
*.zip

# Python
__pycache__/
.gradio
.env
venv/

# Flutter & Android
frontend/build/
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/android/local.properties
.idea/
*.iml
